<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Учебно-тематический план</title>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/chosen/1.8.3/chosen.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/etp/etp.css}">

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" th:src="@{/js/etp/etp.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/chosen/1.8.3/chosen.jquery.min.js}"></script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <!--/*@thymesVar id="etp" type="ru.curriculum.service.etp.dto.ETPDto"*/-->
    <div th:if="${etp.id}">
        <h1>Редактирование Учебно-тематического плана</h1>
    </div>
    <div th:unless="${etp.id}">
        <h1>Создание Учебно-тематического плана</h1>
    </div>
    <hr>

    <form class="form-horizontal" th:action="@{/etp}" th:object="${etp}" modelAttribute="etp" th:method="${etp.id != null ? 'put' : 'post'}">

        <div class="form-group">
            <div class="col-sm-12">
                <input class="btn btn-default" type="submit" th:value="Сохранить"/>
                <button th:if="${null != etp.id && null == etp.timetableId}"
                        class="btn btn-default"
                        type="submit"
                        th:formaction="@{/timetable/newTimetablesFromEtp}"
                >
                    Сформировать расписание
                </button>
                <a th:if="${null != etp.timetableId}" class="btn btn-default" th:href="@{/timetable/edit/{id}(id=${etp.timetableId})}" >
                    Перейти к расписанию
                </a>
                <a class="btn btn-default" th:href="@{/etp}">Назад</a>
                <a th:if="${null != etp.id}"
                   th:href="@{/etp/{id}/download(id=${etp.id})}"
                   class="btn btn-default pull-right btn-success"
                >
                    Excel
                </a>
            </div>
        </div>

        <input th:field="*{actualStatus}" hidden="true">
        &nbsp;

        <div th:include="fragments/formValidationError"></div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-sm-2">Статус</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="*{actualStatus.displayName}" disabled="true"/>
                    </div>
                </div>

                <span th:if="${etp.id != null && etp.actualStatus != T(ru.curriculum.service.etp.statusManager.ETPStatus).STATEMENT ? true : false}">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Перевести в статус</label>
                        <div class="col-sm-10">
                            <span th:each="status : ${availableStatuses}">
                                <button class="btn btn-default" type="submit" th:value="${status}" th:name="newStatus" th:formaction="@{/etp/changeStatus}" >
                                    <span th:text="${status.displayName}"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </span>
            </div>
        </div>

        <div class="form-group">
            <input th:field="*{id}" hidden="true">
            <label class="control-label col-sm-2">Название</label>
            <div class="col-sm-8">
                <input class="form-control" th:field="*{title}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Цель</label>
            <div class="col-sm-8">
                <input class="form-control" th:field="*{target}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Даты дистанционного обучения</label>
            <div class="col-sm-8">
                <div class="form-inline">
                    <input class="form-control" type="date" th:field="*{distanceLearningBeginDate}">
                    <input class="form-control" type="date" th:field="*{distanceLearningEndDate}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Даты очного обучения</label>
            <div class="col-sm-8">
                <div class="form-inline">
                    <input class="form-control" type="date" th:field="*{fullTimeLearningBeginDate}">
                    <input class="form-control" type="date" th:field="*{fullTimeLearningEndDate}">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Кол-во учебных дней</label>
            <div class="col-sm-6">
                <input class="form-control" th:field="*{schoolDaysCount}" type="number" min="0"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Кол-во слушателей</label>
            <div class="col-sm-6">
                <input class="form-control" th:field="*{lernerCount}" type="number" min="0"/>
            </div>
        </div>


        <div th:include="etp/etpHeaderInput :: input('Всего часов', 'volumeInHours.total', ${etp.volumeInHours.total}, true)"></div>
        <div th:include="etp/etpHeaderInput :: input('Кол-во часов на 1 слушателя', 'volumeInHours.perOneListener', ${etp.volumeInHours.perOneListener}, false)"></div>
        <div th:include="etp/etpHeaderInput :: input('Очное обучение', 'volumeInHours.fullTimePerOneListener', ${etp.volumeInHours.fullTimePerOneListener}, false)"></div>
        <div th:include="etp/etpHeaderInput :: input('Дистанционное обучение', 'volumeInHours.distancePerOneListener', ${etp.volumeInHours.distancePerOneListener}, false)"></div>
        <div th:include="etp/etpHeaderInput :: input('Всего часов на учебную работу', 'volumeInHours.totalStudyWork', ${etp.volumeInHours.totalStudyWork}, false)"></div>
        <div th:include="etp/etpHeaderInput :: input('Дистанционное обучение', 'volumeInHours.distanceStudyWork', ${etp.volumeInHours.distanceStudyWork}, false)"></div>
        <div th:include="etp/etpHeaderInput :: input('Очное обучение', 'volumeInHours.fullTimeStudyWork', ${etp.volumeInHours.fullTimeStudyWork}, false)"></div>
        <div th:include="etp/etpHeaderInput :: input('Из них: на оплату', 'volumeInHours.paymentStudyWork', ${etp.volumeInHours.paymentStudyWork}, false)"></div>
        <div th:include="etp/etpHeaderInput :: input('Дистанционное обучение', 'volumeInHours.distancePaymentForStudyWork', ${etp.volumeInHours.distancePaymentForStudyWork}, false)"></div>
        <div th:include="etp/etpHeaderInput :: input('Очное обучение', 'volumeInHours.fullTimePaymentForStudyWork', ${etp.volumeInHours.fullTimePaymentForStudyWork}, false)"></div>
        <div th:include="etp/etpHeaderInput :: input('Учебно-методическая работа', 'volumeInHours.emaPaymentForStudyWork', ${etp.volumeInHours.emaPaymentForStudyWork}, false)"></div>
        <div th:include="etp/etpHeaderInput :: input('Организационно-методическая работа', 'volumeInHours.omaPaymentForStudyWork', ${etp.volumeInHours.omaPaymentForStudyWork}, false)"></div>
        <div th:include="etp/etpHeaderInput :: input('В нагрузку', 'volumeInHours.inLoad', ${etp.volumeInHours.inLoad}, false)"></div>
        <div th:include="etp/etpHeaderInput :: input('Дистанционное обучение', 'volumeInHours.distanceInLoad', ${etp.volumeInHours.distanceInLoad}, false)"></div>
        <div th:include="etp/etpHeaderInput :: input('Очное обучение', 'volumeInHours.fullTimeInLoad', ${etp.volumeInHours.fullTimeInLoad}, false)"></div>
        <div th:include="etp/etpHeaderInput :: input('Учебно-методическая работа', 'volumeInHours.emaInLoad', ${etp.volumeInHours.emaInLoad}, false)"></div>
        <div th:include="etp/etpHeaderInput :: input('Организационно-методическая работа', 'volumeInHours.omaInLoad', ${etp.volumeInHours.omaInLoad}, false)"></div>

        <div class="form-group">
            <label class="control-label col-sm-2">Источник финансирования</label>
            <div class="col-sm-8">
                <select class="form-control" th:field="*{financingSource}">
                    <option th:each="financing : ${T(ru.curriculum.domain.etp.entity.financingSource.FinancingSource).values()}"
                            th:value="${financing}"
                            th:text="${financing.displayName}">
                    </option>
                </select>
            </div>
        </div>

        <div>
            <input hidden="true" th:field="*{stateProgramId}">
        </div>


        <div class="table">
            <table id="table_etp" class="table table-bordered">
                <thead>
                <tr>
                    <th id="theme">Содержание (темы) занятий</th>
                    <th id="lecture">Л</th>
                    <th id="practice">П</th>
                    <th id="independent">С</th>
                    <th id="consultation">К</th>
                    <th id="review">Р</th>
                    <th id="credit">З</th>
                    <th id="other">Др.</th>
                    <th id="hours_per_one_listener">Кол-во часов на 1 слуша- теля</th>
                    <th id="standard">Н</th>
                    <th id="lerner_count">Кол-во слуша- телей</th>
                    <th id="group_count">Кол-во групп</th>
                    <th id="pages_count">Кол-во уcло- вных страниц</th>
                    <th id="total_hours">Всего часов</th>
                    <th id="teacher">Преподователь</th>
                    <td id="manage" colspan="2"></td>
                </tr>
                </thead>

                <tbody>

                <!--УЧЕБНО-МЕТОДИЧЕСКАЯ ДЕЯТЕЛЬНОСТЬ-->
                <tr>
                    <td id="ema_row" colspan="15"><h4>Учебно-методическая деятельность</h4></td>
                    <td colspan="2">
                        <a name="emaModule"></a>
                        <button type="submit" th:value="${0}" name="addEMAModule" th:formaction="@{/etp#emaModule}">
                            <span class="glyphicon glyphicon-plus" data-toggle="tooltip" title="Добавить Тему"></span>
                        </button>
                    </td>
                </tr>
                <div th:each="module, rowModuleStat : *{emaModules}">
                    <tr>
                        <div>
                            <input hidden="true" th:field="*{emaModules[__${rowModuleStat.index}__].id}">
                            <!-- Порядковый номер модуля -->
                            <input hidden="true" th:field="*{emaModules[__${rowModuleStat.index}__].number}">
                        </div>
                        <td>
                            <input type="text" class="form-control" th:field="*{emaModules[__${rowModuleStat.index}__].name}"
                                   style="padding-left: 10px; padding-right: 5px; text-align: left;" placeholder="Название темы" required>
                        </td>

                        <td><input th:field="*{emaModules[__${rowModuleStat.index}__].plan.lectures}" type="text" class="form-control"></td>
                        <td><input th:field="*{emaModules[__${rowModuleStat.index}__].plan.practices}" type="text" class="form-control"></td>
                        <td><input th:field="*{emaModules[__${rowModuleStat.index}__].plan.independentWorks}" type="text" class="form-control"></td>
                        <td><input th:field="*{emaModules[__${rowModuleStat.index}__].plan.consultations}" type="text" class="form-control"></td>
                        <td><input th:field="*{emaModules[__${rowModuleStat.index}__].plan.peerReviews}" type="text" class="form-control"></td>
                        <td><input th:field="*{emaModules[__${rowModuleStat.index}__].plan.credits}" type="text" class="form-control"></td>
                        <td><input th:field="*{emaModules[__${rowModuleStat.index}__].plan.others}" type="text" class="form-control"></td>
                        <td><input th:field="*{emaModules[__${rowModuleStat.index}__].plan.hoursPerOneListener}" type="text" class="form-control" readonly></td>
                        <td><input th:field="*{emaModules[__${rowModuleStat.index}__].plan.standard}" type="text" class="form-control"></td>
                        <td><input th:field="*{emaModules[__${rowModuleStat.index}__].plan.lernerCount}" type="text" class="form-control"></td>
                        <td><input th:field="*{emaModules[__${rowModuleStat.index}__].plan.groupCount}" type="text" class="form-control" required></td>
                        <td><input th:field="*{emaModules[__${rowModuleStat.index}__].plan.conditionalPagesCount}" type="text" class="form-control"></td>
                        <td><input th:field="*{emaModules[__${rowModuleStat.index}__].plan.totalHours}" type="text" class="form-control" readonly></td>
                        <td><select th:field="*{emaModules[__${rowModuleStat.index}__].plan.teacherIds}" multiple data-placeholder="Преподователь..." class="t_ms form-control">
                            <option th:each="teacher : ${teachers}"
                                    th:value="${teacher.id}"
                                    th:text="${teacher.fullName}">
                            </option>
                        </select></td>

                        <td>
                            <button type="submit" th:value="${rowModuleStat.index + 1}" name="addEMAModule" th:formaction="@{/etp#emaModule}">
                                <span class="glyphicon glyphicon-plus" data-toggle="tooltip" title="Добавить Тему"></span>
                            </button>
                        </td>
                        <td>
                            <button type="submit" th:value="*{emaModules[__${rowModuleStat.index}__].number}" name="removeEMAModule" th:formaction="@{/etp#emaModule}">
                                <span class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Удалить Раздел"></span>
                            </button>
                        </td>
                    </tr>
                </div>

                <!--ОРГАНИЗАЦИОННО-МЕТОДИЧЕСКАЯ ДЕЯТЕЛЬНОСТЬ-->
                <tr>
                    <td id="oma_row" colspan="15"><h4>Организационно-методическая деятельность</h4></td>
                    <td colspan="2">
                        <a name="omaModule"></a>
                        <button type="submit" name="addOMAModule" th:value="${0}" th:formaction="@{/etp#omaModule}">
                            <span class="glyphicon glyphicon-plus" data-toggle="tooltip" title="Добавить тему"></span>
                        </button>
                    </td>
                </tr>
                <div th:each="module, rowModuleStat : *{omaModules}">
                    <tr>
                        <div>
                            <input hidden="true" th:field="*{omaModules[__${rowModuleStat.index}__].id}">
                            <input hidden="true" th:field="*{omaModules[__${rowModuleStat.index}__].number}">
                        </div>
                        <td>
                            <input type="text" class="form-control" th:field="*{omaModules[__${rowModuleStat.index}__].name}" placeholder="Название темы"
                                   style="padding-left: 10px; padding-right: 5px; text-align: left;" required>
                        </td>
                        <td><input th:field="*{omaModules[__${rowModuleStat.index}__].plan.lectures}" type="text" class="form-control"></td>
                        <td><input th:field="*{omaModules[__${rowModuleStat.index}__].plan.practices}" type="text" class="form-control"></td>
                        <td><input th:field="*{omaModules[__${rowModuleStat.index}__].plan.independentWorks}" type="text" class="form-control"></td>
                        <td><input th:field="*{omaModules[__${rowModuleStat.index}__].plan.consultations}" type="text" class="form-control"></td>
                        <td><input th:field="*{omaModules[__${rowModuleStat.index}__].plan.peerReviews}" type="text" class="form-control"></td>
                        <td><input th:field="*{omaModules[__${rowModuleStat.index}__].plan.credits}" type="text" class="form-control"></td>
                        <td><input th:field="*{omaModules[__${rowModuleStat.index}__].plan.others}" type="text" class="form-control"></td>
                        <td><input th:field="*{omaModules[__${rowModuleStat.index}__].plan.hoursPerOneListener}" type="text" class="form-control" readonly></td>
                        <td><input th:field="*{omaModules[__${rowModuleStat.index}__].plan.standard}" type="text" class="form-control"></td>
                        <td><input th:field="*{omaModules[__${rowModuleStat.index}__].plan.lernerCount}" type="text" class="form-control"></td>
                        <td><input th:field="*{omaModules[__${rowModuleStat.index}__].plan.groupCount}" type="text" class="form-control"></td>
                        <td><input th:field="*{omaModules[__${rowModuleStat.index}__].plan.conditionalPagesCount}" type="text" class="form-control"></td>
                        <td><input th:field="*{omaModules[__${rowModuleStat.index}__].plan.totalHours}" type="text" class="form-control" readonly></td>
                        <td><select th:field="*{omaModules[__${rowModuleStat.index}__].plan.teacherIds}" data-placeholder="Преподователь..." multiple class="t_ms form-control">
                            <option th:each="teacher : ${teachers}"
                                    th:value="${teacher.id}"
                                    th:text="${teacher.fullName}">
                            </option>
                        </select></td>
                        <td>
                            <button type="submit" name="addOMAModule" th:value="${rowModuleStat.index + 1}" th:formaction="@{/etp#omaModule}">
                                <span class="glyphicon glyphicon-plus" data-toggle="tooltip" title="Добавить тему"></span>
                            </button>
                        </td>
                        <td>
                            <button type="submit" th:value="*{omaModules[__${rowModuleStat.index}__].number}" name="removeOMAModule" th:formaction="@{/etp#omaModule}">
                                <span class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Удалить тему"></span>
                            </button>
                        </td>
                    </tr>
                </div>

                <!--УЧЕБНАЯ ДЕЯТЕЛЬНОСТЬ-->
                <tr>
                    <td id="ea_row" colspan="15"><h4>Учебная деятельность</h4></td>
                    <td colspan="2">
                        <a name="eaModule"></a>
                        <button type="submit" name="addEAModule" th:value="${0}" th:formaction="@{/etp#eaModule}">
                            <span class="glyphicon glyphicon-plus" data-toggle="tooltip"title="Добавить модуль"></span>
                        </button>
                    </td>
                </tr>
                <div th:each="module, rowModuleStat : *{eaModules}">
                    <div>
                        <input hidden="true" th:field="*{eaModules[__${rowModuleStat.index}__].id}">
                        <input hidden="true" th:field="*{eaModules[__${rowModuleStat.index}__].number}">
                    </div>
                    <tr th:height="20px">
                        <td colspan="17">
                            <!--Пустая строка для разделение модулей-->
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #9d9d9d94;" colspan="14">
                            <input type="text" class="form-control" th:field="*{eaModules[__${rowModuleStat.index}__].name}" placeholder="Название модуля"
                                   style="padding-left: 10px; padding-right: 5px; text-align: left;" required>
                        </td>
                        <td style="background-color: #9d9d9d94;">
                            <a name="eaModule"></a>
                            <button type="submit" th:value="${rowModuleStat.index + '.0'}" name="addEASection" th:formaction="@{/etp#eaModule}">
                                <span class="glyphicon glyphicon-plus" data-toggle="tooltip" title="Добавить раздел"></span>
                            </button>
                        </td>
                        <td>
                            <button type="submit" name="addEAModule" th:value="${rowModuleStat.index + 1}"  th:formaction="@{/etp#eaModule}">
                                <span class="glyphicon glyphicon-plus" data-toggle="tooltip"title="Добавить модуль"></span>
                            </button>
                        </td>
                        <td>
                            <button type="submit" th:value="*{eaModules[__${rowModuleStat.index}__].number}" name="removeEAModule" th:formaction="@{/etp#eaModule}">
                                <span class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Удалить модуль"></span>
                            </button>
                        </td>
                    </tr>

                    <div th:each="section, rowSectionStat : *{eaModules[__${rowModuleStat.index}__].sections}">
                        <div>
                            <input hidden="true" th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].id}">
                            <input hidden="true" th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].number}">
                        </div>
                        <tr th:height="5px">
                            <td colspan="17">
                                <!--Пустая строка для разделение разделов в модуле-->
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: #ddddddcc" colspan="14">
                                <input type="text" class="form-control" th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].name}"
                                       placeholder="Название раздела"
                                       style="padding-left: 10px; padding-right: 5px; text-align: left;" required>
                            </td>
                            <td style="background-color: #ddddddcc">
                                <button type="submit" th:value="${rowModuleStat.index + '.' + rowSectionStat.index + '.0'}" name="addEATopic" th:formaction="@{/etp#eaTopic}">
                                    <span class="glyphicon glyphicon-plus" data-toggle="tooltip" title="Добавить тему"></span>
                                </button>
                                <a name="eaTopic"></a>
                            </td>

                            <td>
                                <button type="submit" th:value="${rowModuleStat.index + '.' + rowSectionStat.index + 1}" name="addEASection" th:formaction="@{/etp#eaModule}">
                                    <span class="glyphicon glyphicon-plus" data-toggle="tooltip" title="Добавить раздел"></span>
                                </button>
                            </td>
                            <td>
                                <button type="submit" th:value="${rowModuleStat.index + '.' + etp.eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].number}" name="removeEASection" th:formaction="@{/etp#eaTopic}">
                                    <span class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Удалить раздел"></span>
                                </button>
                            </td>
                        </tr>

                        <div th:each="topic, rowTopicStat : *{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics}">
                            <tr>
                                <div>
                                    <input hidden="true" th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].id}">
                                    <input hidden="true" th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].number}">
                                </div>
                                <td>
                                    <input type="text" class="form-control" th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].name}"
                                           placeholder="Название темы"
                                           style="padding-left: 10px; padding-right: 5px; text-align: left;" required>
                                </td>
                                <td><input th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].plan.lectures}" type="text" class="form-control" ></td>
                                <td><input th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].plan.practices}" type="text" class="form-control"></td>
                                <td><input th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].plan.independentWorks}" type="text" class="form-control"></td>
                                <td><input th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].plan.consultations}" type="text" class="form-control"></td>
                                <td><input th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].plan.peerReviews}" type="text" class="form-control"></td>
                                <td><input th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].plan.credits}" type="text" class="form-control"></td>
                                <td><input th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].plan.others}" type="text" class="form-control"></td>
                                <td><input th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].plan.hoursPerOneListener}" type="text" class="form-control" readonly></td>
                                <td><input th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].plan.standard}" type="text" class="form-control"></td>
                                <td><input th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].plan.lernerCount}" type="text" class="form-control"></td>
                                <td><input th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].plan.groupCount}" type="text" class="form-control"></td>
                                <td><input th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].plan.conditionalPagesCount}" type="text" class="form-control"></td>
                                <td><input th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].plan.totalHours}" type="text" class="form-control" readonly></td>
                                <td class="multi_teacher"><select th:field="*{eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].plan.teacherIds}"
                                            data-placeholder="Преподователь..."
                                            multiple
                                            class="t_ms form-control">
                                    <option th:each="teacher : ${teachers}"
                                            th:value="${teacher.id}"
                                            th:text="${teacher.fullName}">
                                    </option>
                                </select></td>
                                <td>
                                    <button type="submit" th:value="${rowModuleStat.index + '.' + rowSectionStat.index + '.' + (rowTopicStat.index + 1)}" name="addEATopic" th:formaction="@{/etp#eaTopic}">
                                        <span class="glyphicon glyphicon-plus" data-toggle="tooltip" title="Добавить тему"></span>
                                    </button>
                                </td>
                                <td>
                                    <button type="submit"
                                            th:value="${rowModuleStat.index + '.' + rowSectionStat.index + '.' + etp.eaModules[__${rowModuleStat.index}__].sections[__${rowSectionStat.index}__].topics[__${rowTopicStat.index}__].number}"
                                            name="removeEATopic" th:formaction="@{/etp#eaTopic}">
                                        <span class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Удалить тему"></span>
                                    </button>
                                </td>
                            </tr>
                        </div>
                    </div>
                </div>

                <tr>
                    <td><label>Итого по О/М</label></td>
                    <td><input type="text" th:field="*{emaModuleTotalRow.lectures}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{emaModuleTotalRow.practices}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{emaModuleTotalRow.independentWorks}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{emaModuleTotalRow.consultations}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{emaModuleTotalRow.peerReviews}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{emaModuleTotalRow.credits}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{emaModuleTotalRow.others}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{emaModuleTotalRow.hoursPerOneListener}" class="form-control" readonly></td>
                    <td><input type="text" class="form-control" readonly></td>
                    <td><input type="text" class="form-control" readonly></td>
                    <td><input type="text" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{emaModuleTotalRow.conditionalPagesCount}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{emaModuleTotalRow.totalHours}" class="form-control" readonly></td>
                </tr>
                <tr>
                    <td><label>Итого по О/Д</label></td>
                    <td><input type="text" th:field="*{omaModuleTotalRow.lectures}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{omaModuleTotalRow.practices}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{omaModuleTotalRow.independentWorks}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{omaModuleTotalRow.consultations}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{omaModuleTotalRow.peerReviews}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{omaModuleTotalRow.credits}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{omaModuleTotalRow.others}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{omaModuleTotalRow.hoursPerOneListener}" class="form-control" readonly></td>
                    <td><input type="text" class="form-control" readonly></td>
                    <td><input type="text" class="form-control" readonly></td>
                    <td><input type="text" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{omaModuleTotalRow.conditionalPagesCount}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{omaModuleTotalRow.totalHours}" class="form-control" readonly></td>
                </tr>
                <tr>
                    <td><label>Итого по О/O</label></td>
                    <td><input type="text" th:field="*{eaModuleTotalRow.lectures}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{eaModuleTotalRow.practices}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{eaModuleTotalRow.independentWorks}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{eaModuleTotalRow.consultations}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{eaModuleTotalRow.peerReviews}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{eaModuleTotalRow.credits}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{eaModuleTotalRow.others}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{eaModuleTotalRow.hoursPerOneListener}" class="form-control" readonly></td>
                    <td><input type="text" class="form-control" readonly></td>
                    <td><input type="text" class="form-control" readonly></td>
                    <td><input type="text" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{eaModuleTotalRow.conditionalPagesCount}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{eaModuleTotalRow.totalHours}" class="form-control" readonly></td>
                </tr>
                <tr>
                    <td><label>Всего по курсу</label></td>
                    <td><input type="text" th:field="*{etpTotalRow.lectures}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{etpTotalRow.practices}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{etpTotalRow.independentWorks}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{etpTotalRow.consultations}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{etpTotalRow.peerReviews}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{etpTotalRow.credits}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{etpTotalRow.others}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{etpTotalRow.hoursPerOneListener}" class="form-control" readonly></td>
                    <td><input type="text" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{etpTotalRow.lernerCount}" class="form-control" readonly></td>
                    <td><input type="text" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{etpTotalRow.conditionalPagesCount}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{etpTotalRow.totalHours}" class="form-control" readonly></td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="panel panel-default" th:if="${etp.id != null}">
            <div class="panel-heading"><h4>Комментарии:</h4></div>
            <div class="panel-body">
                <a name="etpComments"></a>
                <span th:each="comment, commentStat : *{comments}">
                    <div th:if="${comment.id != null}" class="panel panel-default">
                        <!--Т.к. добавляем каждый новый коммент на беке, то чтобы предыдущие не сломались, нужны эти инпуты-->
                        <input hidden="true" th:field="*{comments[__${commentStat.index}__].id}">
                        <input hidden="true" th:field="*{comments[__${commentStat.index}__].author}">
                        <input hidden="true" th:field="*{comments[__${commentStat.index}__].content}">
                        <input hidden="true" th:field="*{comments[__${commentStat.index}__].curatorId}">
                        <div class="panel-heading"
                             th:style="${#authorization.getAuthentication().getPrincipal().curator().id() == comment.curatorId}
                             ? 'background-color: #ddd' : '#f5f5f5'"
                        >
                            <div class="row">
                                <div class="col-sm-4">
                                    <span th:text="${comment.author}"></span>
                                </div>
                                <div class="col-sm-8" align="right" th:if="${#authorization.getAuthentication().getPrincipal().curator().id() == comment.curatorId}">
                                       <a th:href="@{/etp/{etpId}/comment/delete/{id}#etpComments(id=${comment.id}, etpId=${etp.id})}" data-toggle="tooltip" title="Удалить">
                                           <span class="glyphicon glyphicon-remove" style="color: #c9302c"></span>
                                       </a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <span th:text="${comment.content}"></span>
                        </div>
                    </div>
                    <span th:if="${comment.id == null}">
                        <div class="row" style="margin-right: 5px; margin-left: 5px;">
                            <label>Новый комментарий:</label>
                            <textarea class="form-control col-sm-12" rows="5" th:field="*{comments[__${commentStat.index}__].content}"></textarea>
                        </div>
                        <div class="row" align="right" style="margin-right: 5px; margin-left: 5px;margin-top: 5px;">
                            <button type="submit" th:value="${commentStat.index}" name="removeComment" th:formaction="@{/etp/comment/remove#etpComments}">
                                <span>Отмена</span>
                            </button>
                            <button type="submit" th:value="${commentStat.index}" name="createComment" th:formaction="@{/etp/comment/create#etpComments}">
                                <span>Сохранить</span>
                            </button>
                        </div>
                    </span>
                </span>
            </div>

            <div class="panel-footer" align="right">
                <button class="btn btn-default" type="submit" th:formaction="@{/etp/comment/new#etpComments}">
                    <span>Комментарий</span>
                </button>
            </div>
        </div>
    </form>
    &nbsp;

</div>
</body>
</html>