<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Управление пользователями</title>
</head>
<body>
<div>
    <h1>Создание пользователя</h1>
    <form th:action="@{/admin/users/create}" th:object="${userDto}" method="post">
        <div>
            <label>Фамилия </label><input type="text" th:field="*{surname}"/>
        </div>
        <div>
            <label>Имя <input type="text" th:field="*{firstname}"/></label>
        </div>
        <div>
            <label>Отчество <input type="text" th:field="*{lastname}"/></label>
        </div>
        <div>
            <label>Логин <input type="text" th:field="*{username}"/></label>
        </div>
        <div>
            <label>Пароль <input type="text" th:field="*{password}"/></label>
        </div>
        <input type="submit" th:value="Сохранить"/>
    </form>

    <p><a href="/admin/users" th:href="@{/admin/users}">Назад</a></p>
</div>
</body>
</html>