<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Пользователи</title>
</head>
<body>

<div th:replace="fragments/sidebar" th:remove="tag"></div>

<div class="container" style="width: 80%; margin-right: 5%">
    <div>
        <h1>Пользователи</h1>
        <hr/>
    </div>
    <div>
        <a class="btn btn-default" th:href="@{/admin/users/new}">Добавить</a>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Логин</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
            <td align="right">
                <a th:href="@{/admin/users/edit/{id}(id=${user.id})}" data-toggle="tooltip" title="Редактировать">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a th:href="@{/admin/users/delete/{id}(id=${user.id})}" data-toggle="tooltip" title="Удалить">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a th:unless="${user.isTeacher}" th:href="@{/admin/teachers/newFromUser/{id}(id=${user.id})}" class="btn btn-default">Сделать преподователем</a>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>