<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Управление пользователями</title>
</head>
<body>
<div>
    <div th:if="${user.id}">
        <h1>Редактирование пользователя <span th:text="${user.username}"></span></h1>
    </div>
    <div th:unless="${user.id}">
        <h1>Создание пользователя</h1>
    </div>
    <!--<div th:if="${user.id}">-->
        <!--<h1>Редактирование пользователя</h1>-->
    <!--</div>-->
    <form th:action="@{/admin/users}" th:object="${user}" method="post">
        <div>
            <input th:hidden="true" type="number" th:field="*{id}"/>
        </div>
        <div>
            <label>Логин <input type="text" th:field="*{username}"/></label>
        </div>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        <div>
            <label>Пароль <input type="text" th:field="*{password}"/></label>
        </div>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        <div>
            <label>Фамилия </label><input type="text" th:field="*{surname}"/>
        </div>
        <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
        <div>
            <label>Имя <input type="text" th:field="*{firstname}"/></label>
        </div>
        <div th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>
        <div>
            <label>Отчество <input type="text" th:field="*{lastname}"/></label>
        </div>
        <input type="submit" th:value="Сохранить"/>
    </form>

    <p><a href="/admin/users" th:href="@{/admin/users}">Назад</a></p>
</div>
</body>
</html>