<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Пользователи</title>
</head>
<body>
<div>
    <h1>Пользователи</h1>
    <div>
        <a th:href="@{/admin/users/new}">Добавить</a>
    </div>
    <table border="1">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Логин</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.surname}"></td>
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.username}"></td>
            <td>
                <!--TODO при удалении если есть акк препода просто удалим акк, не задумыаясь-->
                <a th:href="@{/admin/users/delete/{id}(id=${user.id})}">Удалить</a>
                <a th:href="@{/admin/users/edit/{id}(id=${user.id})}">Редактировать</a>
                <a th:unless="${user.isTeacher}" th:href="@{/admin/teachers/newFromUser/{id}(id=${user.id})}">Сделать преподователем</a>

            </td>
        </tr>
        </tbody>
    </table>

    <p><a href="/admin" th:href="@{/admin}">Назад</a></p>
</div>
</body>
</html>