<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
</head>
<body>
<th:block th:fragment="sidebar">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav" th:with="uri = ${#httpServletRequest.getRequestURI()}">

            <li sec:authorize="hasRole('ROLE_ADMIN')" th:class="${uri.contains('/admin/curators') ? 'active':''}">
                <a th:href="@{/admin/curators}"> Кураторы </a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" th:class="${uri.contains('/admin/teachers') ? 'active':''}">
                <a th:href="@{/admin/teachers}"> Преподователи </a>
            </li>
            <li th:class="${uri.contains('/myStateSchedule') ? 'active':''}">
                <a th:href="@{/myStateSchedule}"> Мой план-график </a>
            </li>
            <li th:class="${uri.contains('/stateSchedule') ? 'active':''}">
                <a th:href="@{/stateSchedule}"> План-график </a>
            </li>
            <li th:class="${uri.contains('/etp') ? 'active':''}">
                <a th:href="@{/etp}"> УТП </a>
            </li>
            <li th:class="${uri.contains('/timetable') ? 'active':''}">
                <a th:href="@{/timetable}"> Расписание </a>
            </li>
        </ul>
    </div>
</th:block>
</body>
</html>