.table thead tr th {
    text-align: center;
    vertical-align: middle;
}

/*.table thead {*/
    /*background-color: #c4d2fb;*/
/*}*/

#theme {
    width: 35%;
    text-align: left;
}

#manage {
    width: 3%;
}

#teacher {
    width: 20%;
}

#ea_row, #ema_row, #oma_row {
    background-color: #9d9d9d;
}