.table thead tr th {
    text-align: center;
    vertical-align: middle;
}

#table_etp > tbody > tr > td {
    padding: 0;
}

#table_etp > tbody > tr > td > input {
    border: 0;
    padding-left: 5%;
    padding-right: 5%;
    text-align: right;
}

#lecture, #practice, #independent, #consultation, #review, #credit, #other, #standard  {
    width: 4%;
}

#pages_count, #total_hours, #lerner_count, #group_count, #hours_per_one_listener {
    width: 4%;
    font-size: 12px;
}

#theme {
    width: 30%;
    text-align: left;
}

#manage {
    width: 3%;
}

#teacher {
    width: 15%;
}

#ea_row, #ema_row, #oma_row {
    background-color: #9d9d9d;
}

#ea_row, #ema_row, #oma_row > h4 {
    text-align: center;
}

[name~=plan] {
    padding-left: 0;
    padding-right: 0;
}

/*[name~=standard] {*/
    /*background-color: #ccfdfd;*/
/*}*/