.table thead tr th {
    text-align: center;
    vertical-align: middle;
}

#lecture, #practice, #independent, #consultation, #review, #credit, #other, #standard  {
    width: 4%;
}

#pages_count, #total_hours, #lerner_count, #group_count {
    width: 4%;
    font-size: 12px;
}

#theme {
    width: 30%;
    text-align: left;
}

#manage {
    width: 3%;
}

#teacher {
    width: 15%;
}

#ea_row, #ema_row, #oma_row {
    background-color: #9d9d9d;
}

[name~=plan] {
    padding-left: 0%;
    padding-right: 0%;
}