<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Формат файла для формирования "Планов-графиков"</title>
</head>
<body>

<div th:replace="fragments/sidebar" th:remove="tag"></div>

<div layout:fragment="content">
    <h1>Формат загрузки файла "План-график"</h1>
    <hr/>
    <div>
        <a class="btn btn-default" th:href="@{/stateSchedule}">Назад</a>
    </div>

    <div>
        <h2>Структура файла</h2>
        <p>Для удачного формрирования "Плана-графика" необходимо чтобы файл содержал следующие элементы:</p>
        <ul>
            <li>Колонтитул с указанием года: <b>"Казань, 2018"</b></li>
            <li>Одна таблица содержащая инфромацию о "Планах-графиках"</li>
        </ul>

        <h2>Описание таблицы "План-график"</h2>
        <p>Структура файла:</p>
        <ul>
            <li>Название колонок соответсвуют основным полям "Плана-графика"</li>
            <li>"Планы-графики" разделены по месяцам. Каждый новый месяц записан в строке, ячейки которой склеены в одну.
                Месяцы введены кирилицей, полностью. Пример: <b>Март</b>, <b>Февраль</b>, <b>Апрель...</b>
            </li>
        </ul>

    </div>
    <div>
        <h2>Названия колонок и формат заполнения</h2>
        <p>В следующей таблице приведены названия основых полей "Плана-графика". В файле название колонки должно содержать данную
            последовательность символов. Возможны дополнительные символы в начале строки и в конце.
        </p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Название колонки</th>
                <th>Название колонки в файле</th>
                <th>Формат данных в колонке</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Целевая аудитория</td>
                <td>Целевая аудитория (категория слушателей)</td>
                <td>
                    Формат: свободный <br>
                    Пример: Заместители директоров ОО
                </td>
            </tr>
            <tr>
                <td>Название дополнительной профессиональной программы</td>
                <td>Название дополнительной профессиональной программы</td>
                <td>
                    Формат: свободный <br>
                    Пример: Управление развитием образовательных организаций в условиях модернизации образования
                </td>
            </tr>
            <tr>
                <td>Форма обучения</td>
                <td>Форма обучения (очная, заочная, очно-заочная)</td>
                <td>
                    Возможные значения: Очное/Заочное/Очное-заочное
                </td>
            </tr>
            <tr>
                <td>Форма реализация</td>
                <td>Форма реализация (модульная, интегрированная, корпоративная, командная)</td>
                <td>Возможные значения: Модульная с использованием ДОТ/Модульная</td>
            </tr>
            <tr>
                <td>Количество слушателей</td>
                <td>Кол-во слушателей, всего чел./групп</td>
                <td>
                    Формат: <b>[кол-во человек]/[кол-во групп] </b> (Символ "/" обязателен) <br>
                    Пример: 21/1
                </td>
            </tr>
            <tr>
                <td>Объем на одного слушателя</td>
                <td>Объем на одного слушателя, в часах</td>
                <td>
                    Формат: <b>[число]</b> <br>
                    106
                </td>
            </tr>
            <tr>
                <td>Стажировк</td>
                <td>Стажировка, дата</td>
                <td>Содержатся дата стажировки и место проведения. <br>
                    Форматы дат: <b>дд.мм.гггг-дд.мм.гггг </b>, <b>дд.мм.гг-дд.мм.гг</b> <br>
                    Пример 20.01.2018-29.01.2018 МБОУ «Гимназия № 52» Приволжского района г.Казани
                </td>
            </tr>
            <tr>
                <td>Тема стажировки</td>
                <td>Тема стажировки</td>
                <td>
                    Формат: свободный <br>
                    Пример: Управление введением ФГОС ООО и СОО
                </td>
            </tr>
            <tr>
                <td>Куратор</td>
                <td>Куратор учебной группы, контактный телефон</td>
                <td>
                    Для того связять с куратором существующим в системе необходимо,
                    чтобы Фамилия Имя Отчество были введены последовательно, полностью и без сокращений <br>
                    Формат: <b>Фамилия Имя Отчество</b> <br>
                    Пример: <b>Иванов Иван Иванович, 88005553535</b>
                </td>
            </tr>
            <tr>
                <td>Место проведения</td>
                <td>Место проведения (адрес проведения занятий может быть изменен, о чем слушатели будут информированы дополнительно)</td>
                <td>
                    Формат: свободный <br>
                    Пример: г.Казань, ул.Социалистическая, д.5
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>