<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Расписание</title>
</head>
<body>
<!--/*@thymesVar id="timetable" type="ru.curriculum.service.timetable.dto.TimetableDto"*/-->

<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div th:if="${timetable.id}" style="align-items: center;">
                <div th:include="fragments/pageHeader :: pageHeader('Редактирование', ${timetable.theme})"></div>
            </div>
            <hr/>
        </div>
    </div>
    <form class="form-horizontal"
          th:action="@{/timetable/edit}"
          th:object="${timetable}"
          modelAttribute="timetable"
          th:method="put"
    >
        <div class="form-group">
            <div th:include="fragments/formValidationError"></div>
            <div>
                <input th:hidden="true" type="number" th:field="*{id}"/>
            </div>
            <div th:include="fragments/inputField :: inputField('Тема', 'theme', ${timetable.theme}, 'text', true)"></div>
            <div class="form-group">
                <label class="control-label col-sm-2">Дата</label>
                <div class="col-sm-8">
                    <div class="form-inline">
                        <input class="form-control" th:type="date" th:field="*{beginDate}" disabled>
                        <input class="form-control" th:type="date" th:field="*{endDate}" disabled>
                    </div>
                </div>
            </div>

            &nbsp;
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="text-align: center; vertical-align: middle">Дата проведения занятий</th>
                    <th style="text-align: center; vertical-align: middle">Время проведения занятий</th>
                    <th style="text-align: center; vertical-align: middle">Кол-во слушателей</th>
                    <th style="text-align: center; vertical-align: middle">Форма занятий</th>
                    <th style="text-align: center; vertical-align: middle">Тема занятий</th>
                    <th style="text-align: center; vertical-align: middle">ФИО преподователя, должность</th>
                    <th style="text-align: center; vertical-align: middle">Место проведения</th>
                    <th style="text-align: center; vertical-align: middle">Номер аудитории</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="stateProgram" type="ru.curriculum.service.timetable.dto.LessonDto"*/-->
                <div th:each="lesson, lessonStat : *{lessons}">
                    <input th:field="*{lessons[__${lessonStat.index}__].id}" hidden>
                    <tr>
                        <td><input th:field="*{lessons[__${lessonStat.index}__].date}" type="date" class="form-control"></td>

                        <td><select th:field="*{lessons[__${lessonStat.index}__].time}" class="form-control">
                            <option value=""></option>
                            <option th:each="time : ${lesson.timesList}"
                                    th:value="${time}"
                                    th:text="${time}"
                            ></option></select>
                        </td>

                        <td th:text="${lesson.lernerCount}"></td>
                        <td><select th:field="*{lessons[__${lessonStat.index}__].lessonFormId}" class="form-control">
                            <option value=""></option>
                            <option th:each="lessonForm : ${lessonFormList}"
                                    th:value="${lessonForm.code}"
                                    th:text="${lessonForm.name}"
                            ></option></select>
                        </td>
                        <td th:text="${lesson.theme}"></td>
                        <td th:text="${lesson.teacher != null ? lesson.teacher.fullName : ''}"></td>
                        <td><select th:field="*{lessons[__${lessonStat.index}__].address}" class="form-control">
                            <option value=""></option>
                            <option th:each="address : ${addressList}"
                                    th:value="${address}"
                                    th:text="${address}"
                            ></option></select>
                        </td>
                        <td><input th:field="*{lessons[__${lessonStat.index}__].audienceNumber}" type="number" class="form-control"></td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <input class="btn btn-default" type="submit" th:value="Сохранить"/>
                <a class="btn btn-default" th:href="@{/etp/edit/{id}(id=${timetable.createFromEtpId})}">Перейти к УТП</a>
                <a class="btn btn-default" th:href="@{/timetable}">Назад</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>