<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Расписание</title>
    <script type="text/javascript" th:src="@{/js/timetable/themeSelection.js}"></script>
</head>
<body>
<!--/*@thymesVar id="timetable" type="ru.curriculum.service.timetable.dto.WeeklyTimetableDto"*/-->

<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div th:if="${timetable.id}" style="align-items: center;">
                <div th:include="fragments/pageHeader :: pageHeader('Редактирование', '')"></div>
            </div>
            <hr/>
        </div>
    </div>
    <form class="form-horizontal"
          id="timetableForm"
          th:action="@{/timetable/edit}"
          th:object="${timetable}"
          modelAttribute="timetable"
          th:method="put"
    >
        <div class="form-group">
            <div class="col-sm-12">
                <!--<input class="btn btn-default" type="submit" th:value="Сохранить"/>-->
                <button class="btn btn-default" type="submit" th:value="false" name="ignoreWarning" th:formaction="@{/timetable/edit}">Сохранить</button>
                <a class="btn btn-default" th:href="@{/etp/edit/{id}(id=${timetable.createFromEtpId})}">Перейти к УТП</a>
                <a class="btn btn-default" th:href="@{/timetable}">Назад</a>
            </div>
        </div>

        <div class="row">
            <div th:if="${timetable.validation.hasErrors()}"  class="alert alert-danger col-sm-offset-2 col-sm-8">
                <div><span class="glyphicon glyphicon-remove"></span><b> Необходимо исправить следующие ошибки: </b></div>
                <ul>
                    <li th:each="err : ${timetable.validation.errors}" th:text="${err}" />
                </ul>
            </div>
        </div>

        <div class="row" th:if="${!timetable.validation.hasErrors()}">
            <div th:if="${timetable.validation.hasWarnings()}"  class="alert alert-warning col-sm-offset-2 col-sm-8">
                <div><span class="glyphicon glyphicon-exclamation-sign"></span><b> Внимание:</b></div>
                <ul>
                    <li th:each="war : ${timetable.validation.warnings}" th:text="${war}" />
                </ul>
                &nbsp;
                <div align="right">
                    <span><b>Вы можете сохранить игнорируя данные предупреждения</b></span>
                    <button class="btn btn-warning" type="submit" th:value="true" name="ignoreWarning" th:formaction="@{/timetable/edit}">Сохранить</button>
                </div>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-sm-offset-2 col-sm-8">-->
                <!--<button class="btn btn-success" type="submit" th:value="true" name="ignoreWarning" th:formaction="@{/timetable/edit}">Сохранить</button>-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <div>
                <input th:hidden="true" type="number" th:field="*{id}"/>
            </div>
            <div th:include="fragments/inputField :: inputField('Тема', 'theme', ${timetable.theme}, 'text', true)"></div>
            <div class="form-group">
                <label class="control-label col-sm-2">Дата</label>
                <div class="col-sm-8">
                    <div class="form-inline">
                        <input th:type="number" th:field="*{createFromEtpId}" hidden>
                        <input class="form-control" th:type="date" th:field="*{beginDate}" readonly>
                        <input class="form-control" th:type="date" th:field="*{endDate}" readonly>
                    </div>
                </div>
            </div>

            &nbsp;
            <table class="table table-hover">
                <tbody>
                <!--/*@thymesVar id="stateProgram" type="ru.curriculum.service.timetable.dto.WeekDto"*/-->
                <div th:each="week, weekStat: *{weeks}">
                    <tr style="background-color: burlywood">
                        <th style="text-align: center; vertical-align: middle; width: 10%">Время проведения занятий</th>
                        <th style="text-align: center; vertical-align: middle; width: 30%">Тема занятий</th>
                        <th style="text-align: center; vertical-align: middle; width: 4%">Кол-во слушателей</th>
                        <th style="text-align: center; vertical-align: middle; width: 20%">ФИО преподователя, должность</th>
                        <th style="text-align: center; vertical-align: middle; width: 10%">Форма занятий</th>
                        <th style="text-align: center; vertical-align: middle; width: 20%">Место проведения</th>
                        <th style="text-align: center; vertical-align: middle; width: 4%">Номер аудитории</th>
                    </tr>
                    <!--/*@thymesVar id="stateProgram" type="ru.curriculum.service.timetable.dto.SchoolDayDto"*/-->
                    <div th:each="day, dayStat : *{weeks[__${weekStat.index}__].schoolDays}">
                        <input th:field="*{weeks[__${weekStat.index}__].schoolDays[__${dayStat.index}__].id}" hidden>
                        <tr>
                            <input th:field="*{weeks[__${weekStat.index}__].schoolDays[__${dayStat.index}__].date}" hidden>
                            <input th:field="*{weeks[__${weekStat.index}__].schoolDays[__${dayStat.index}__].dayOfWeek}" hidden>
                            <td th:text="${day.dayOfWeek + ', ' + #temporals.format(day.date, 'dd/MM/yyyy')}" colspan="7" style="background-color: lemonchiffon"></td>
                        </tr>

                        <!--/*@thymesVar id="stateProgram" type="ru.curriculum.service.timetable.dto.LessonDto"*/-->
                        <div th:each="lesson, lessonStat : *{weeks[__${weekStat.index}__].schoolDays[__${dayStat.index}__].lessons}">
                        <input th:field="*{weeks[__${weekStat.index}__].schoolDays[__${dayStat.index}__].lessons[__${lessonStat.index}__].id}" hidden>
                        <tr style="text-align: center">
                            <td>
                                <input th:field="*{weeks[__${weekStat.index}__].schoolDays[__${dayStat.index}__].lessons[__${lessonStat.index}__].time}" class="form-control" readonly>
                                <div th:if="${#fields.hasErrors()}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('*{weeks[__${weekStat.index}__].schoolDays[__${dayStat.index}__].lessons[__${lessonStat.index}__].time}')}" th:text="${err}" />
                                    </ul>
                                </div>
                            </td>

                            <td><select th:field="*{weeks[__${weekStat.index}__].schoolDays[__${dayStat.index}__].lessons[__${lessonStat.index}__].theme}"
                                        onchange="themeSelection(this)"
                                        class="form-control"
                            >
                                <option value=""></option>
                                <option th:each="theme : ${lessonThemes}"
                                        th:value="${theme}"
                                        th:text="${theme}"
                                ></option></select>
                            </td>

                            <td><input th:field="*{weeks[__${weekStat.index}__].schoolDays[__${dayStat.index}__].lessons[__${lessonStat.index}__].lernerCount}" type="number" class="form-control"></td>

                            <td><select th:field="*{weeks[__${weekStat.index}__].schoolDays[__${dayStat.index}__].lessons[__${lessonStat.index}__].teacherId}" class="form-control">
                                <option value=""></option>
                                <option th:each="teacher : ${teachers}"
                                        th:value="${teacher.id}"
                                        th:text="${teacher.fullName}">
                                </option>
                            </select></td>

                            <td><select th:field="*{weeks[__${weekStat.index}__].schoolDays[__${dayStat.index}__].lessons[__${lessonStat.index}__].lessonFormId}" class="form-control">
                                <option value=""></option>
                                <option th:each="lessonForm : ${lessonFormList}"
                                        th:value="${lessonForm.code}"
                                        th:text="${lessonForm.name}"
                                ></option></select>
                            </td>

                            <td>
                                <input th:field="*{weeks[__${weekStat.index}__].schoolDays[__${dayStat.index}__].lessons[__${lessonStat.index}__].address}" class="form-control" type="text" list="addresses"/>
                                <datalist  id="addresses">
                                        <option value=""></option>
                                        <option th:each="address : ${addressList}"
                                                th:value="${address}"
                                                th:text="${address}"
                                        ></option>
                                </datalist>
                            </td>
                            <td><input th:field="*{weeks[__${weekStat.index}__].schoolDays[__${dayStat.index}__].lessons[__${lessonStat.index}__].audienceNumber}" type="number" class="form-control"></td>
                        </tr>
                    </div>

                    </div>

                </div>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <input class="btn btn-default" type="submit" th:value="Сохранить"/>
                <a class="btn btn-default" th:href="@{/etp/edit/{id}(id=${timetable.createFromEtpId})}">Перейти к УТП</a>
                <a class="btn btn-default" th:href="@{/timetable}">Назад</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>